<div class="container">
  <div class="row">
    <nav class="col-3">
      <h2>Фильтры</h2>
      <form #filterForm="ngForm">
        <button (click)="filterForm.resetForm(); resetFilters()">Сбросить</button>
        <div>
          <p>Жанры:</p>
          <div>
            <input id="anime" name="anime" type="checkbox" [(ngModel)]="genresFilter.anime.value" />
            <label for="anime">Аниме</label>
          </div>
          <div>
            <input id="biography" name="biography" type="checkbox" [(ngModel)]="genresFilter.biography.value" />
            <label for="biography">Биография</label>
          </div>
          <div>
            <input id="action" name="action" type="checkbox" [(ngModel)]="genresFilter.action.value" />
            <label for="action">Боевик</label>
          </div>
          <div>
            <input id="western" name="western" type="checkbox" [(ngModel)]="genresFilter.western.value" />
            <label for="western">Вестерн</label>
          </div>
          <div>
            <input id="war" name="war" type="checkbox" [(ngModel)]="genresFilter.war.value" />
            <label for="war">Военный</label>
          </div>
          <div>
            <input id="detective" name="detective" type="checkbox" [(ngModel)]="genresFilter.detective.value" />
            <label for="detective">Детектив</label>
          </div>
          <div>
            <input id="children" name="children" type="checkbox" [(ngModel)]="genresFilter.children.value" />
            <label for="western">Детский</label>
          </div>
          <div>
            <input id="adult" name="adult" type="checkbox" [(ngModel)]="genresFilter.adult.value" />
            <label for="adult">Для взрослых</label>
          </div>
          <div>
            <input id="documentary" name="documentary" type="checkbox" [(ngModel)]="genresFilter.documentary.value" />
            <label for="documentary">Документальный</label>
          </div>
          <div>
            <input id="drama" name="drama" type="checkbox" [(ngModel)]="genresFilter.drama.value" />
            <label for="drama">Драма</label>
          </div>
          <div>
            <input id="game" name="game" type="checkbox" [(ngModel)]="genresFilter.game.value" />
            <label for="game">Игра</label>
          </div>
          <div>
            <input id="history" name="history" type="checkbox" [(ngModel)]="genresFilter.history.value" />
            <label for="history">История</label>
          </div>
          <div>
            <input id="comedy" name="comedy" type="checkbox" [(ngModel)]="genresFilter.comedy.value"  />
            <label for="comedy">Комедия</label>
          </div>
          <div>
            <input id="concert" name="concert" type="checkbox" [(ngModel)]="genresFilter.concert.value" />
            <label for="concert">Концерт</label>
          </div>
          <div>
            <input id="short_film" name="short_film" type="checkbox" [(ngModel)]="genresFilter.short_film.value"  />
            <label for="short_film">Короткометражка</label>
          </div>
          <div>
            <input id="criminal" name="criminal" type="checkbox" [(ngModel)]="genresFilter.criminal.value"  />
            <label for="criminal">Криминал</label>
          </div>
          <div>
            <input id="melodrama" name="melodrama" type="checkbox" [(ngModel)]="genresFilter.melodrama.value" />
            <label for="melodrama">Мелодрама</label>
          </div>
          <div>
            <input id="music" name="music" type="checkbox" [(ngModel)]="genresFilter.music.value" />
            <label for="music">Музыка</label>
          </div>
          <div>
            <input id="musical" name="musical" type="checkbox" [(ngModel)]="genresFilter.musical.value" />
            <label for="musical">Мюзикл</label>
          </div>
          <div>
            <input id="news" name="news" type="checkbox" [(ngModel)]="genresFilter.news.value" />
            <label for="news">Новости</label>
          </div>
          <div>
            <input id="adventures" name="adventures" type="checkbox" [(ngModel)]="genresFilter.adventures.value" />
            <label for="adventures">Приключения</label>
          </div>
          <div>
            <input id="real_tv" name="real_tv" type="checkbox" [(ngModel)]="genresFilter.real_tv.value" />
            <label for="real_tv">Реальное ТВ</label>
          </div>
          <div>
            <input id="family" name="family" type="checkbox" [(ngModel)]="genresFilter.family.value" />
            <label for="family">Семейный</label>
          </div>
          <div>
            <input id="sport" name="sport" type="checkbox" [(ngModel)]="genresFilter.sport.value" />
            <label for="sport">Спорт</label>
          </div>
          <div>
            <input id="talk_show" name="talk_show" type="checkbox" [(ngModel)]="genresFilter.talk_show.value" />
            <label for="talk_show">Ток-шоу</label>
          </div>
          <div>
            <input id="thriller" name="thriller" type="checkbox" [(ngModel)]="genresFilter.thriller.value" />
            <label for="thriller">Триллер</label>
          </div>
          <div>
            <input id="horror" name="horror" type="checkbox" [(ngModel)]="genresFilter.horror.value" />
            <label for="horror">Ужасы</label>
          </div>
          <div>
            <input id="fiction" name="fiction" type="checkbox" [(ngModel)]="genresFilter.fiction.value" />
            <label for="fiction">Фантастика</label>
          </div>
          <div>
            <input id="noir" name="noir" type="checkbox" [(ngModel)]="genresFilter.noir.value" />
            <label for="noir">Нуар</label>
          </div>
          <div>
            <input id="fantasy" name="fantasy" type="checkbox" [(ngModel)]="genresFilter.fantasy.value" />
            <label for="fantasy">Фэнтези</label>
          </div>
          <div>
            <input id="ceremony" name="ceremony" type="checkbox" [(ngModel)]="genresFilter.ceremony.value" />
            <label for="ceremony">Церемония</label>
          </div>
        </div>
        <br/>
        <div>
          <p>Годы:</p>
          <label>Введите диапазон годов или только начальный, если нужен конкретный</label>
          <p><input class="yearField" type="text" maxlength="4" name="yearStart" [(ngModel)]="yearStart"> - <input class="yearField" name="yearEnd" type="text" maxlength="4" [(ngModel)]="yearEnd"></p>
        </div>
        <button (click)="applyFilters()" >Применить</button>
      </form>
    </nav>
    <div class="col">
      <aside class="col-12"><h3>Отзывы о фильмах и кино</h3>
        Ежегодно во всем мире снимают сотни фильмов, сериалов и аниме. Выбрать что-то действительно интересное, ориентируясь лишь по  описаниям и трейлерам крайне сложно, ведь создатели всеми силами  стараются заинтересовать зрителей ради прибылей. Действительно понять, хороша ли кинолента и чего именно ждать от просмотра, позволяют лишь отзывы, оставленные самими зрителями.
      </aside>
      <div class="row">
        <article class="col-12">
          <h2>Список новинок</h2>
          <p>Сортировка: год выхода     оценка     название</p>
          <p>Отображать на странице: </p>
          <button (click)="this.limit=10; getSearchResults(this.query, this.page)">10</button>
          <button (click)="this.limit=15; getSearchResults(this.query, this.page)">15</button>
          <button (click)="this.limit=20; getSearchResults(this.query, this.page)">20</button>
          <div style="background-color: transparent !important;" *ngFor="let film of films">
              <div style="display: inline-block" class="container item-card">
                <a routerLink="/films/{{film.id}}"><img style="float: left; margin-right: 2%;" ngSrc="{{film.posterUrl}}" [width]="175" [height]="260"></a>
                <div>
                  <h3 style="margin:0"><a routerLink="/films/{{film.id}}">{{film?.name}} ({{film.year}})</a></h3>
                </div>
              </div>
          </div>
          <div>
            <div style="text-align: center" *ngIf="this.page==1 || this.page==2; else pagesBlock">

              <a class="disabled" style="margin:2%; cursor:pointer" (click)="this.page=1; getSearchResults(this.query, this.page)">&laquo;</a>
              <a href="#" style="margin:2%;" (click)="this.page=1; getSearchResults(this.query, page)" [ngClass]="{'active-page': page==1}" class="active-page">1</a>&ensp;
              <span *ngIf="pagesQuantity>1; then secondPage"></span>
              <span *ngIf="pagesQuantity>2; then thirdPage"></span>
              <a href="#" style="margin:2%;" (click)="this.page=this.pagesQuantity; getSearchResults(this.query, this.page)">&raquo;</a>
            </div>

            <ng-template #secondPage><a href="#" style="margin:2%; cursor:pointer" (click)="this.page=2; getSearchResults(this.query, page)">2</a>&ensp;</ng-template>
            <ng-template #thirdPage><a href="#" style="margin:2%; cursor:pointer" (click)="this.page=3; getSearchResults(this.query, page)">3</a>&ensp;</ng-template>
            <ng-template #pagesBlock>
              <div style="text-align: center">
                <a style="margin:2%; cursor:pointer" (click)="this.page=1; getSearchResults(this.query, this.page)">&laquo;</a>
                <a style="margin:2%; cursor:pointer" (click)="this.page=this.page-1; getSearchResults(this.query, this.page)">{{page-1}}</a>
                <a style="margin:2%; cursor:pointer" (click)="getSearchResults(this.query, page+1)" class="active-page">{{page}}</a>
                <a *ngIf="page+1<=pagesQuantity" style="margin:2%; cursor:pointer" (click)="this.page=this.page+1; getSearchResults(this.query, this.page)">{{page+1}}</a>
                <a style="margin:2%; cursor:pointer" (click)="this.page=this.pagesQuantity; getSearchResults(this.query, this.page)">&raquo;</a>
              </div>
            </ng-template>
          </div>
<!--          <div *ngIf="getFilms(page+1)!=null">-->
        </article>
        </div>
      </div>
  </div>
</div>
