article{
  margin: 30px 45px 0 0;
  padding:60px;
  background: white;
  min-height:1000px;
}
aside{
  margin:25px 45px 0 0;
  background: white;
  padding:20px;
}
nav{
  margin:25px 36px 0 0;
  background: white;
  padding:40px;
}
.row{
  margin:0 auto;
}
.container{
  padding:0;
  margin: 0 auto;
}
.item-card{
  margin-top:3%;
}
article a{
  text-decoration: none;
  color:black;
}
.yearField{
  width:40%;
}
.active-page, .current-limit{
  font-weight: bold;
}
ul{
  list-style: none;
  padding: 0 !important;
}
.filters button{
  border-radius: 5%;
  color: black;
  transition-duration: 0.4s;
  background-color:white;
}
.filters button:hover{
  border: 2px dashed #008CBA;
}
.genres-filter {
  height: 450px;
  overflow:hidden; overflow-y:scroll;
}
.filters nav{
  height: 40%;
  top:0;
  position: sticky;
}
