footer{
  background: white;
  margin-top: 25px;
  padding: 1.5% 1% 1% 2%;
  color:gray;
}
form{
  display: flex;
  justify-content: space-between;
  justify-items: auto;
}
.container{
  padding-left: 0;
}
.logo{
  margin-right: 10%;
}
.navbar-nav{
  margin-right: 10%;
}
.form-inline{
  margin-right: 10%;
}
nav .collapse{
  padding:0 10%;
}
