<div id="review-section">
    <div id="add-review">
        <button id="add-button" data-toggle="collapse" data-target="#addCollapse" type="button">
            Оставить отзыв
        </button>
    </div>
    <div class="new-review-section collapse" id="addCollapse">
        <form #addForm="ngForm" (ngSubmit)="onAddReview(addForm, film.id)">
            <textarea name="text" id="text" ngModel ></textarea>
            <button type="submit">Save changes</button>
        </form>
    </div>

    <div *ngFor="let review of reviews">
        <!-- {{review.film.id}}
        {{film.id}} -->
        <div *ngIf="review.film.id==film.id">
            {{review.text}}
            <div *ngIf="review.author.id==1">
                <button id="add-button" data-toggle="collapse" data-target="#editCollapse" type="button">
                    Редактировать
                </button>
                <div class="new-review-section collapse" id="editCollapse">
                    <form #editForm="ngForm" (ngSubmit)="onEditReview(editForm, review.id)">
                        <textarea name="text" id="text" [(ngModel)]="review.text"></textarea>
                        <button type="submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


