<div class="row p-lg-1">
<h2>Локальные отзывы</h2>
<div *ngIf="film.localReviews.length==0; else local">Отзывов еще нет. Станьте первым!</div>
  <div *ngIf="sessionStorage.getItem('username')!=null && !review">
    <button id="add-button" data-bs-toggle="collapse" data-bs-target="#addCollapse" type="button">Оставить отзыв</button>
      <div class="collapse" id="addCollapse">
        <form #addForm="ngForm" (ngSubmit)="onAddReview(addForm, film.id)">
          <textarea name="text" id="text" ngModel ></textarea>
          <button type="submit">Save changes</button>
        </form>
      </div>
  </div>
<ng-template #local>
  <div *ngIf="review">
    <div class="review-item">
      <p><b>{{review.author.username}}</b></p>
      <p>{{review.text}}</p>
    </div>
    <button id="edit-button" data-bs-toggle="collapse" data-bs-target="#editCollapse" type="button">Редактировать</button>
    <div class="collapse" id="editCollapse">
      <form #editForm="ngForm" (ngSubmit)="onEditReview(editForm, review)">
        <textarea name="editArea" id="editArea" [(ngModel)]="review.text"></textarea>
        <button type="submit">Сохранить</button>
      </form>
    </div>
  </div>
  <div *ngFor="let review of film.localReviews">
    <div *ngIf="review!=this.review" class="review-item">
      <p><b>{{review.author.username}}</b></p>
      <p>{{review.text}}</p>
    </div>
  </div>
</ng-template>


  <h2>Отзывы с Кинопоиск</h2>
  <div *ngFor="let review of film.kinopoiskReviews">
    <div class="review-item">
      <p><b>{{review.author}}</b></p>
      <p>{{review.review}}</p>
    </div>
  </div>

  <h2>Отзывы с TMDb</h2>
  <div *ngIf="film.tmdbReviews!=null; else noTmdb">
    <div *ngFor="let review of film.tmdbReviews">
      <div class="review-item">
        <p><b>{{review.author}}</b></p>
        <p>{{review.text}}</p>
        <div [ngSwitch]="review.rating">
          <ng-template ngSwitchCase="null">Пользователь не оставил оценку</ng-template>
          <ng-template ngSwitchDefault>{{review.rating}}</ng-template>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noTmdb><p>Невозможно получить отзывы с сервиса или они отсутствуют. Попробуйте использовать ВПН </p></ng-template>
</div>
