.main{
  background: white;
  margin: 5%;
  min-height: 600px;
  height: 100%;
  padding: 5%;
}
.review-item{
  border: 1px groove black;
  box-shadow: 10px 15px 21px #d3d3d6, -10px -10px 21px #fff;
  border-radius: 6px;
  padding:3%;
  margin-bottom: 2%;
}
.film-link{
  text-decoration: none;
  color:black;
  font-weight: bold
}
.film-link:hover{
  text-decoration: underline;
}
