/* You can add global styles to this file, and also import other style files */
.row{
  margin: 0;
}
body{
  font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4{
  font-family: 'Comfortaa', cursive;
}
